.MenuContainer {
  background: #505d6b;
}

.Menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Menu a {
  color: white;
}

.MenuLogo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.MenuNav ul {
  display: flex;
  flex-wrap: wrap;
}

.MenuNav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.MenuNav a:hover {
  color: #1b1b1b;
}
