.Container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #708090;
  
}

.ContainerForm{
  width: 52%;
  height: 50%;
  box-shadow: rgb(0 0 0 / 62%) 0px 3px 30px;
  padding: 10px 10px;
  margin: auto;
  background-color: #b0c4de;
  border-radius: 0.2rem;
}


@media (max-width: 1366px){
  .ContainerForm{
    height: 70%;
  }
}

@media (max-width: 780px){
  .ContainerForm{
    width: 80%;
  }
}
